body 
{
    background-color: lightblue;    /* Set text color to lightblue */
}    

header {
    background-color: #9bcdff;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

pre {
    background-color: #222;   /* Dark background */
    color: #f8d210;           /* Bright text color */
    padding: 15px;            /* Space inside the box */
    border-radius: 8px;       /* Rounded corners */
    border: 1px solid #444;   /* Border color */
    font-family: monospace;   /* Code-style font */
    overflow-x: auto;         /* Adds horizontal scroll if needed */
}


section {
    padding: 20px;
    margin: 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}